.chatArea {
  width: 300px;
  background: white;
}

.list {
  text-align: left;
  list-style: none;
  padding: 10px;
  margin: 0;
}



.newMessage {
    margin: 0 auto;
    outline: none;
    height: 70px;
    border-style: none;
    background-color: #E8E8E8;
    font-size: 18px;
}

form label {
  display: none;
}
.sendButton {
  margin: 0 auto;
  border-radius: none;
  height: 70px;
  background-color: #408e8e;
  outline: none;
  border-style: none;
  color: white;
  font-weight: 700;
  font-size: 30px;

}
.sendButton:hover {

  background-color: #4ca1a1;


}

