.chatArea {
  width: 300px;
  background: white;
}

.list {
  text-align: left;
  list-style: none;
  padding: 10px;
  margin: 0;
}



.newMessage {
    margin: 0 auto;
}

form label {
  display: none;
}
.sendButton {
  margin: 0 auto;
  border-radius: none;
}

#chatContainer {
  margin: 30px auto;
  background-color: teal;
}