.chatMessage {
    background: white;
    list-style: none;
    width: 300px;
    margin: 0 auto;
}

ul {
    width: 300px;
    padding: 0;
    height: 300px;
    overflow: scroll;
    background: white;
    margin: 0 auto;

}

.chatMessgaes {
    
}