.chatMessage {
    background: white;
    list-style: none;
    width: 300px;
    margin: 10px auto;
    padding: 0 10px;
}

ul {
    width: 300px;
    padding: 0;
    height: 300px;
    overflow-x: scroll;
    background: white;
    margin: 0 auto;

}
.chat-box li {
    width: 300px;
    margin: 50px auto;
  }

