.chatMessage {
 
    list-style: none;
    width: 400px;
    margin: 10px auto;
    padding: 0 10px;
    font-weight: bold;
}

ul {
    width: 400px;
    padding: 0;
    height: 300px;
    overflow-x: scroll;
    background: white;
    margin: 0 auto;

}
ul::-webkit-scrollbar {
    display: none;
}
.chat-box li {
    width: 300px;
    margin: 50px auto;
  }

.username {
    font-weight: normal;
}
