nav {
    width: 100vw;
    background: #347F7F;
    padding: 7px;
    text-align: center;
   
}
.links {
    color: rgb(255, 255, 255);
    margin: auto 30px;
    text-decoration: none;
}
h1 {
    color: white;
}